<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
            <div class="row gy-3">
                <!-- Left elements -->
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="{{ path('app_main') }}" class="float-start">
                        <img src="{{ asset('assets/images/logo-syhard.png') }}" height="40"  alt="Logo SyhardStore"/>
                    </a>
                </div>
                <!-- Center elements -->
                <div class="order-lg-last col-lg-5 col-sm-8 col-8 ms-auto">
                    <div class="d-flex float-end">
                        {% if app.user %}
                            <a href="{{ path('profil_index') }}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                                <i class="fa-solid fa-user m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Mon Syhard</p>
                            </a>
                            <a href="{{ path('app_logout') }}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                                <i class="fa-solid fa-eject m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Déconnexion</p>
                            </a>
                            <a href="#" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                                <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Panier</p>
                            </a>
                                {% if is_granted('ROLE_PRODUCT_ADMIN') %}
                                <a href="{{ path('admin_index') }}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                                    <i class="fa-solid fa-gear m-1 me-md-2"></i>
                                    <p class="d-none d-md-block mb-0">Administration</p>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                                <i class="fa-solid fa-sign-in m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Connexion à mon Syhard</p>
                            </a>
                            <a href="{{ path('app_register') }}" class="btn btn-primary py-1 px-3 d-flex align-items-center">
                                <i class="fa-solid fa-user-plus m-1 me-md-2"></i>
                                <p class="d-none d-md-block mb-0">Inscription</p>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <!-- Center elements -->

                <!-- Right elements
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="input-group float-center">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Rechercher...</label>
                        </div>
                        <button type="button" class="btn btn-primary shadow-0">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>-->
                <!-- Right elements -->
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5;">
        <!-- Container wrapper -->
        <div class="container justify-content-center justify-content-md-between">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler border text-dark py-2"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarLeftAlignExample"
                    aria-controls="navbarLeftAlignExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse " id="navbarLeftAlignExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('produits_index') }}">Produits</a>
                    </li>
                    <!-- Navbar dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark mb-0" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            Autres
                        </a>
                        <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Rien lol</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Left links -->
                <!-- Danger button if email adress is not verified -->
                {% if app.user and not app.user.isVerified %}
                    <a href="{{ path('renvoie_verif') }}" class="btn btn-danger">Votre compte n'est pas vérifié, cliquez pour re-envoyer un mail de vérification.</a>
                {% endif %}
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>