<header>
    <div class="px-3 py-2 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ path('app_main') }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="{{ asset('assets/images/logo-syhard.png') }}" alt="logo" width="50" height="50">
                    <span class="fs-4">Syhard.Store</span>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="{{ path('app_main') }}" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                            Accueil
                        </a>
                    </li>
                    {% if app.user %}
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                                Mon Syhard
                            </a>
                        </li>
                    {% else %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
            </form>
            {% if app.user %}
                <div class="text-end">
                    <a href="{{ path('app_logout') }}" class="btn btn-danger text-white me-2">Déconnexion</a>
                </div>
            {% else %}
                <div class="text-end">
                    <a href="{{ path('app_login') }}" class="btn btn-light text-dark me-2">Connexion à mon Syhard</a>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">Inscription</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
