{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>Connectez vous à votre espace SyhardSTORE</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
            <form method="POST">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Adresse e-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" autocomplete="email" required autofocus>
                    <div id="emailHelp" class="form-text">Votre email est utilisé par Syhard pour créer des comptes League of Legends</div>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Mot de passe</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button type="submit" class="btn btn-primary">Connexion</button>
                <a href ="{{ path('app_register') }}" class ="btn btn-secondary"> S'inscrire  </a>
            </form>
        </div>
    </main>
{% endblock %}



