{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                <fieldset class = m-auto>
                    <legend>
                        Mon identité de Syhardeur
                    </legend>
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.email) }}

                </fieldset>

                <fieldset class="m-auto">
                    <legend>
                            Mes coordonnés
                    </legend>
                    {{ form_row(registrationForm.address) }}
                    {{ form_row(registrationForm.zipcode) }}
                    {{ form_row(registrationForm.city) }}
                </fieldset>


                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.RGPDConsent) }}

                <button type="submit" class="btn btn-primary btn-lg ">S'inscrire</button>
                <a href ="{{ path('app_login') }}"class ="btn btn-secondary">Me connecter  </a>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </section>


{% endblock %}
